body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: black;
  color: #09c3bd;
  width: 600px;
  margin: 0 auto;
}

nav {
  border: 1px solid #09c3bd;
  background-color: black;
  width: 100%;
  text-align: center;
}
nav a {
  color: #09c3bd;
  text-decoration: none;
}

a {
  color: #09c3bd;
}


table {
  border: 1px solid #09c3bd;
  overflow: auto;
  width: 100%;
  max-width: max-content;
  height: 240px;
  display: block;
  margin: 0 auto;
  border-spacing: 0;
  left: 0 auto;
}

table caption {
  caption-side: bottom;
  padding: 5px;
}

thead {
  position: sticky;
  top: 0;
  background-color: black;
}

th {
  border: 1px solid #09c3bd;
  padding: 8px 10px;
}

td {
  border: 1px solid #09c3bd;
  padding: 8px 10px;
}

footer {
  background-color: black;
  border: 1px #09c3bd;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-radius: 1px;
  height: 20px;
  font-size: smaller;
}