body {
  font-family: "Courier New", Helvetica, Arial, sans-serif;
  background-color: black;
  color: #09c3bd;
  width: 600px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  font-size: 17px;
}



table {
  border: 1px solid #09c3bd;
  overflow:auto;
  width: 100%;
  max-width: max-content;
  height: 240px;
  display: block;
  margin: 0 auto;
  border-spacing: 0;
  left: 0 auto;
}
table caption {
  color: #ea00d3;
  caption-side: bottom;
  padding: 5px;
}
table caption:hover {
  color: #e67742;
}
thead {
  color:#8cec2d;
  position: sticky;
  top: 0;
  background-color: black;
}
th {
  border: 1px solid #09c3bd;
  padding: 8px 10px;
}
td {
  border: 1px solid #09c3bd;
  padding: 8px 10px;
}