body {
    font-family: monospace, "Courier New", Courier, "Arial Bold", sans-serif;
    background-color: black;
    width: 100wv;
    height: 100vh;
    overflow: hidden;
}


header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

header a {
    color: #09c3bd;
    text-shadow: 2px 2px #fa036a;
    width: max-content;
    text-align: center;
    margin: 10% auto;
    text-decoration: none;
    padding: 4px;
    display: block;
    border: 1px solid #09c3bd;
    border-radius: 1px;
    box-shadow: #fa036a 2px 2px;
}

a:hover {
    color: #fa036a;
    text-shadow: 2px 2px #09c3bd;
}