html {
  font-size: 10px;
  /* px means "pixels": the base font size is now 10 pixels high */
  font-family: "Bitter", Bitter;
  /* this should be the rest of the output you got from Google Fonts */
}


h1 {
  color: #f2f0ff;
  font-size: 40px;
  width: 500px;
  padding: 50px 10px 10px 10px;
  margin: 0 auto;
}

#buttonContainer {
  text-align: left;

}

body {
  width: 600px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  text-align: center;
  font-size: 12px;

}

img {
  max-width: 100%;
  margin: 0 auto;

}