@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */ 

  body {
    font-family: monospace, "Courier New", Courier, Arial, sans-serif;
    background-color: black;
    color: #09c3bd;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    font-size: 17px;
  }
}



body {
  font-family: monospace, "Courier New", Courier, Arial, sans-serif;
  background-color: black;
  color: #09c3bd;
  width: 85%;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  font-size: 17px;
}



h1 {
  color: #8cec2d;
  font-size: 38px;
  width: 100%;
  text-align: 50%;
  padding: 50px 0px 10px 10px;
}

h1 ul {
  float: right;
  font-size: 20px;
  color: #09c3bd;
  list-style-type: none;
  width: 150px;
  margin: 10px 5px 10px auto;

}

h1 ul a {
  color: #09c3bd;
  font-size: 20px;
  text-decoration: none;
}

h1:hover {
  color: hsl(178, 91%, 40%);
}

h2 {
  color: #8cec2d;
}

h2:hover {
  color: #e67742;
}

h3 {
  color: #ea00d3;
  text-align: center;
}

h3:hover {
  color: #8cec2d;
}

hr {
  color: #ea00d3;
  border-style: dashed;
}



nav {
  background-color: #ea00d3;
  color: #09c3bd;
  width: 100%;
  text-align: center;
  border-radius: 1px;
  font-size: 22px;
  padding: 1px;
}

nav:hover {
  color: #ea00d3;
  display: block;
  background-color: #e67742;
  width: 100%;
}

nav ul a:hover {
  color: #09c3bd;
}

nav a {
  color: black;
  text-decoration: none;
}

a {
  color: #ea00d3;
}



button {
  background-color: black;
  color: #09c3bd;
  border: 1px solid #ea00d3;
  border-radius: 2px;
}

button:hover {
  color: #8cec2d;
}


footer {
  background-color: #8cec2d;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #e67742;
  text-align: center;
  border-radius: 1px;
  height: fit-content;
  font-size: smaller;
  padding: 3px;
}

footer:hover {
  background-color: #ea00d3;
  color: #8cec2d;
  border-radius: 2px;
}