body {
  font-family: "Courier New", Helvetica, Arial, sans-serif;
}


h1 {
  color: #8cec2d;
  font-size: 40px;
  width: 500px;
  text-align: left;
  padding: 50px 10px 10px 10px;
  margin: 0 auto;
}


nav {
  background-color:#8cec2d;
  color: #09c3bd;
  position: relative;
  left: 0;
  width: max-content;
  text-align: left;
  

}


body {
  color: #09c3bd;
  width: 600px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  font-size: 17px;
}

footer {
  background-color: #8cec2d;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color:#04aea8;
  text-align: center;
}


#li {
  width: 500px;
  text-align: center;
}