body {
  font-family: "Courier New", Helvetica, Arial, sans-serif;
}


h1 {
  color: #8cec2d;
  font-size: 40px;
  width: 500px;
  text-align: left;
  padding: 50px 10px 10px 10px;
  margin: 0 auto;
}

h1:hover{
  color: #e67742;
}

h2:hover{
  color: #8cec2d;
}

h3 {
  color:#e67742;
}

h3:hover {
  color:#ea00d3;
}

nav {
  background-color:#ea00d3;
  color: #09c3bd;
  position: relative;
  left: 0;
  width: 100%;
  text-align: center;
  height: 26px;
  border-radius: 1px;
  font-size: 20px;
  display: block;
  
}
nav:hover {
  color: #8cec2d;
  display: block;
  background-color: #e67742;
  width: 100%;
}

nav ul a:hover {
  color: #8cec2d;
}

body {
  background-color: black;
  color: #09c3bd;
  width: 600px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  font-size: 17px;
}

footer {
  background-color: #8cec2d;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color:#e67742;
  text-align: center;
  border-radius: 1px;
  height: min-content;
  font-size:smaller;
}

footer:hover{
  background-color:#ea00d3;
  color:#8cec2d;
}


#li {
  width: 500px;
  text-align: center;
}