body {
  font-family: monospace, 'Times New Roman', Times, serif;
  background-color: black;
  color: #02cc3b;
  width: 90%;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  scrollbar-color: #02cc3b black;
}
main {
  font-size: 1.3vw;

}

h1 {
  font-size: 38px;
  text-decoration: none;
  font-weight: lighter;
  padding: 50px 0px 10px 10px;
  width: 100%;
  height: min-content;
}

h1 a {
  text-decoration: none;
}

h2 {
  font-size: 25px;
  font-weight: lighter;
}


hr {
  color: #02cc3b;
  border-style: dashed;
}

nav {
  border: 1px dashed #02cc3b;
  background-color: black;
  width: 100%;
  text-align: center;
}

nav a {
  color: #02cc3b;
  text-decoration: none;
}

a {
  color: #02cc3b;
}


table {
  border: 1px dashed #02cc3b;
  overflow: auto;
  table-layout: fixed;
  width: 90%;
  max-width: max-content;
  height: 240px;
  display: block;
  margin: 0 auto;
  border-spacing: 0;
  left: 0 auto;
  scrollbar-color: #02cc3b black;
}

table caption {
  caption-side: bottom;
  padding: 5px;
}

thead {
  position: sticky;
  top: 0;
  background-color: black;
}

th {
  border-right: 1px dashed #02cc3b;
  border-bottom: 1px dashed #02cc3b;
  padding: 8px 10px;
}

th:last-child {
  border-right: 1px dashed black;
}

td {
  border-right: 1px dashed #02cc3b;
  border-bottom: 1px dashed #02cc3b;
  padding: 8px 10px;
}

td:last-child {
  border-right: 1px dashed black;
}

footer {
  background-color: black;
  border: 1px dashed #02cc3b;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-radius: 1px;
  height: 20px;
  font-size: smaller;
  padding: 2px;
}